<h1>Index</h1>

<div id="user-widget">
  <% if current_user %>
    Welcome <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, method: "delete" %>
  <% else %>
  <ul>
    <li><%= link_to "Sign in with Facebook", "/auth/facebook", provider: "facebook" %></li>
    <li><%= link_to "Sign in with Twitter", "/auth/twitter", provider: "twitter" %></li>
    </ul>
  <% end %>
</div>
