<nav class="navbar navbar-inverse navbar-fixed-top" id="myNavbar" role="navigation">
<ul class="nav navbar-nav" id="mynav">
    <li><a href="#link1" class="droppedHover">link1</a></li>
	<li><a href="#link2" class="">link2</a></li>
	<li><a href="#link3" class="">link3</a></li>
	<li><a href="#link4" class="">link4</a></li>
</ul>
</nav>