// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* index page */
@media (min-width: 768px) { 
#login-module {
  float: right;
  width: 40%;
}
#socialmediasignin {
  border: 1px solid black;
  padding-left: 20px;
  margin-top: 1em;
  margin-right: 1em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}
#socialmediasignin p {
  padding-left: 20px;
}
#emailsignin {
  border: 1px solid black;
  padding-left: 20px;
  margin-top: 1em;
  margin-right: 1em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
}
#emailsignin p {
  padding-left: 20px;
}
#welcome-module {
  float: left;
  width: 55%;
  border: 1px solid black;
  padding-left: 20px;
  margin-top: 1em;
  margin-left: 1em;
  min-height: 442px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px;
  padding-right: 10px;
}
#welcome-module p {
  padding-top: 10px;
  padding-bottom: 10px;
}
}
@media (max-width: 767px) {
  #welcome-module {
    display: none;
  }
  #login-module {
  float: none;
  width: 100%;
  }
}

/* about us page */
@media (min-width: 768px) { 
.sections-even {
	min-height: 500px;
	padding: 10px;
  margin: 0 -10px;
	background-color: grey;
}
.sections-even h1 {
	text-align:right;
}
.sections-odd {
	min-height: 500px;
	padding: 10px;
  margin: 0 -10px;
	background-color: silver;
}
.sections-even #img {
	float:left;
}
.sections-odd #img {
	float:right;
}
#img {
  padding-left:10px;
  padding-right:10px;
}
figure { 
  display: block; 
  position: relative; 
  float: left; 
  overflow: hidden; 
  margin: 0 20px 20px 0;
}
figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before { 
  content: "?"; 
  position: absolute; 
  font-weight: 800; 
  background: rgba(255,255,255,0.75); 
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;	
}
figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }
}
@media (max-width: 767px) {
.sections-even {
  padding: 10px;
  background-color: grey;
  margin-left: -10px;
  margin-right: -10px;
  float: none;
}
.sections-odd {
  padding: 10px;
  background-color: silver;
  margin-left: -10px;
  margin-right: -10px;
  float: none;
}
#img {
  padding-left:10px;
  padding-right:10px;
}
figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
  margin: 0 20px 20px 0;
}
figcaption {  
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before { 
  content: "?"; 
  position: absolute; 
  font-weight: 800; 
  background: rgba(255,255,255,0.75); 
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;  
}
figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }
}